.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  overflow: hidden;
}


.start-page .blob-down {
  position: relative;
  margin-top: auto;
  margin-right: auto;
  right: 0;
  top: 0;
}

.start-page .blob-up {
  position: relative;
  margin-bottom: auto;
  margin-left: auto;
  left: 0;
  bottom: 0;
}


