:root {
  --karla: "Karla", sans-serif;
  --inter: "Inter", sans-serif;
  --deepBlue: #293264;
  --lightBlue: #d6dbf5;
  --whitish: #f5f7fb;
}

body {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1000px;
}

.start-page {
  color: var(--deepBlue);
}

.start-page h1 {
  font-family: var(--karla);
  margin: 0;
  padding-bottom: 7px;
}

.start-page p,
.start-btn {
  font-family: var(--inter);
}

.start-page p {
  font-weight: 400;
  padding-bottom: 29px;
  font-size: 1.1rem;
}

.start-btn {
  font-weight: 500;
  color: var(--whitish);
  background-color: var(--deepBlue);
  font-size: 1rem;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.quiz-page {
  color: var(--deepBlue);
  text-align: center;
  margin-top: 40px;
  width: 90%;
  margin: 0 auto;
}

.quiz-page h2 {
  font-family: var(--karla);
}

.quiz-page .options {
  display: flex;
  justify-content: center;
  gap: 13px;
  flex-wrap: wrap;

}

.options button {
  font-family: var(--inter);
  font-family: 500;
  font-size: 10.24;
  border-radius: 7.942px;
  border: 1px solid #4d5b9e;
  width: 87px;
height: 25px;
  cursor: pointer;
  background-color: transparent;
}

.divider {
  border-bottom: 2px solid #dbdef0;
  max-width: 450px;
  padding-top: 20px;
  margin: 0 auto;
}
